:root {
  --bg-color: #fff;
  --accent-color: #001B3D;
  --main-text-color: #212529;
  --accent-text-color: #fff;
  --main-font-family: 'DinProCondensed';
  --accent-font-family: 'DinProCondensed';
  --main-font-weight: 400;
  --accent-font-weight: 500;
  --padding: 40px;
  --font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
  --accent-font-size: clamp(2.5rem, 1.5rem + 5vw, 6rem);
  --breakpoint: 768px;
}

@media (width <= 820px) {
  :root {
    --padding: 20px;
  }
}